body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 32px;
  margin: 16px;
  background-color: gray;

} 

.menu{
  text-align: center;
}

.header{
  background: #f0f0f0;
  padding: 0 10px;
}

.site-layout{
  background: #f0f0f0;
}

video::-webkit-media-text-track-display {
  font-size: 200%;
}

